<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intsig.yann.analysis">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <provider
            android:name="com.intsig.yann.analysis.AnalysisDataProvider"
            android:authorities="com.intsig.yann.analysis.provider"
            android:multiprocess="false"
            android:exported="false">
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.intsig.yann.sentimentanalysis.fileprovider.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file" />
        </provider>

        <activity android:name="com.intsig.yann.analysis.FirstLaunchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.intsig.yann.analysis.AnalysisHolderActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="结果列表">
        </activity>
        <activity android:name="com.intsig.yann.analysis.LoginOrRegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="登录">
        </activity>
        <activity android:name="com.intsig.yann.analysis.AnalysisDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="详情">
        </activity>
    </application>

</manifest>